#tiles {
  aspect-ratio: 1.618;
  width: 110vmin;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  z-index: 5;


  @media(max-width: 950px){
    aspect-ratio: auto;
    height: 60vh;
  }
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

.tile:before {
  background-color: rgba(15, 15, 15);
  content: "";
  inset: 0.5px;
  position: absolute;
}