@import "../../../styles/colors";

.events {
    &_container {
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-color: $light;
        right: -100vw;
        z-index: 99;
        color: $dark;
    }
}

.calendar_container{
    width: 30%;
    height: 100%;
    background-color: white;
}