@import "../../../styles/colors";

.events {
  &_container {
    height: 100dvh;
    width: 100vw;
    position: absolute;
    background-color: $light;
    right: -100vw;
    z-index: 99;
    color: $dark;
    display: flex;
    justify-content: space-between;
  }
}

.event {
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media(max-width: 950px) {
    width: 70vw;
  }

  p{
    text-align: justify;
  }

  &_container {
    background-color: $light;
    padding: 10% 5%;
    width: 70%;
    transition: all 500ms ease-in-out;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    background-image: url("../../../src/images/blob-scene-haikei-2.svg");

    .default {
      justify-content: center;
      align-items: center;
    }
  }

  .titleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media(max-width: 950px) {
      gap: 0;
      flex-direction: column;
    }
  }
}

.expanded {
  width: 100%;
}

.tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .cta {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.fc {
  .fc-button-primary {
    background: $black;
    border-radius: 5px;
  }
}

.fc-event {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $light;
  border: none;
  padding: 10px 0;
  transition: 300ms ease-in-out;
}

.fc-event-time,
.fc-daygrid-event-dot {
  display: none;
}

.fc-event:hover {
  transform: scale(0.97);
}

.fc-daygrid-dot-event {
  .fc-event-title {
    font-weight: 500;
    padding: 1px 5px;
    color: $light;
  }
}

.fc-daygrid-dot-event:hover {
  background-color: $black;
}