@import "../../../styles/colors";

.aboutUs_container {
    height: 100dvh;
    width: 100vw;
    position: absolute;
    background-color: $light;
    left: -100vw;
    z-index: 99;
    color: $dark;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .aboutUs{
        width: 70%;
    }
  }