@import "../../../styles/colors";

.aboutUs_container {
    height: 100dvh;
    width: 100vw;
    position: absolute;
    background-color: $light;
    left: -100vw;
    z-index: 99;
    color: $dark;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../src/images/blob-scene-haikei.svg");

    @media(max-width: 950px) {
        align-items: flex-start;
        overflow-y: auto;
    }

    .aboutUs {
        width: 50%;

        @media(max-width: 950px) {
            width: 95%;
        }
    }
}