@import "../../../styles/colors";

#photos_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;

  @media(max-width: 950px){
    flex-direction: column-reverse;
  }

  .photos_column {
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10vh;

    @media(max-width: 950px){
      width: 80%;
      margin-top: 50px;
    }
  }
}

.photos {
  max-width: 40vw;
  height: auto;
  max-height: 100dvh;

  @media(max-width: 950px){
    max-width: 100%;
  }
}