@import "../../../styles/colors";

.main_container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s top, bottom ease-in-out;
}

.info {
  opacity: 0;
  height: fit-content;
  width: 50vw;
  
  @media(max-width: 950px){
      width: 70vw;
      
    }
  
  &_title{
    position: absolute;
    color: $light;
    z-index: 95;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    cursor: pointer;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
  }

  &_description{
    z-index: 90;
    text-align: justify;
    font-size: 1.3rem;
    background-color: #0f0f0fb3;
    opacity: 0;
    width: 70vw;

    @media(max-width: 950px){
      max-height: 100%; 
      font-size: 1rem;
    }
  }

  .info_icon_container {
    background-color: $light;
    border-radius: 50%;
    padding: 0;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}