@import "../../../styles/colors";

.contacts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  @media(max-width: 950px){
    padding: 0 10px;
  }
}

.contacts_container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: $light;
  // transition: 1s top, bottom;
  z-index: 99;
  color: $dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100vh;
  background-image: url("../../images/layered-waves-haikei.svg");

  b:hover {
    cursor: pointer;
  }
}

.icon {
  cursor: pointer;
  transition: 200ms ease-in-out;
  width: 45px;
  height: auto;
  &_container {
    display: flex;
    gap: 10px;
  }
}

.icon:hover{
  transform: scale(1.2);
}