@import "../../../styles/colors";

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;

  @media(max-width: 950px){
    padding: 0 10px;
  }
}

.contacts_container {
  height: 100dvh;
  width: 100vw;
  position: fixed;
  background-color: $light;
  // transition: 1s top, bottom;
  z-index: 99;
  color: $dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100vh;

  b:hover {
    cursor: pointer;
  }
}

.icon {
  cursor: pointer;
  transition: 200ms ease-in-out;
  &_container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    padding-left: 10px;
  }
}

.icon:hover{
  transform: scale(1.2);
}