@import "../../../styles/colors";

.modal {
  position: absolute;
  min-height: fit-content;
  height: 70vh;
  width: 80vw;
  background-color: #14213de1;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @media(max-width: 950px){
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
    height: 100dvh;
    width: 100vw;
  }

  &_title{
    position: relative;
    right: 45%;
    transform: translate(50%, 0);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media(max-width: 950px){
      width: 100vw;
      height: fit-content;
    }
  }

  &_email{
    color: $light;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: fit-content;
    width: 100%;
    padding: 10px 0;

    @media(max-width: 950px){
      font-size: 1.5rem;
      margin-top: 7vh;
      width: 92%;
    }

    span{
      padding: 0 5px ;
    }
  }

  &_email:hover{
    color: $dark;
    background-color: $light;

    .email_icon{
      opacity: 1;
    }
  }

  &_info {
    width: 90%;
    border-top: 1px solid grey;
    color: $light;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    margin: 10px 0;


    button{
      font-size: 12px;
      color: $red;
      font-weight: 600;
      transition: 500ms transform;
      background: none;
      border: none;
      padding: 0;
    }
    
    button:hover{
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  h2 {
    color: $light;
    margin: 1rem 5px;

    @media(max-width: 950px){
      font-size: 1.5rem;
    }
  }

  .form_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.email_icon{
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
  padding: 3px 0;
  opacity: 0;
  transition: 500ms;
}