@font-face {
    font-family: "Mersad";
    src: url("../src/font/Mersad/Mersad\ Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
      font-family: "Mersad";
      src: url("../src/font/Mersad/Mersad\ ExtraBold.ttf");
      font-weight: bold;
      font-style: normal;
    }
