#test{
    height: 300vh;
    width: 100vw;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test{
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}